# Arquivos e pastas do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.venv/

# Pacotes instalados
# O pip-tools (pip-compile) pode ser usado para gerenciar
# o requirements.txt. O .gitignore deve ignorar os arquivos de cache.
.pip-tools/

# Dados gerados pelo Docker
*.dockerignore

# Arquivos de dados e de ambiente
# Mantenha as listas de palavras no Git, mas ignore o .env
data/
.env

# Empacotamento com PyInstaller
# Ignore os executáveis, pastas de build e de distribuição
/server/build/
/server/dist/
*.spec
*.exe

# Arquivos de IDEs (opcional)
.vscode/
.idea/

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Log
*.log